* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --primary-color: #b3b3b3;
    --secondary-color: black;
    --accent-color: lavender;
    --padding-default: 20px;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-default);
    background-color: var(--accent-color);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 0 10px 0 10px;
}

.image {
    display: flex;
    background: url(./IMG_1626.JPG);
    padding: 400px 0 100px 0;
    justify-content: end;
}

.imgtext {
    display: flex;
    padding: var(--padding-default);
    border: 10px solid var(--accent-color);
    background-color: var(--primary-color);
    margin-right: var(--padding-default);
}

.sectiontitle {
    display: flex;
    justify-content: end;
    flex: 0 0 20%;
    padding-right: 10px;
    padding-top: var(--padding-default);
}

.about-me {
    display: flex;
    align-items: start;
}

.about-me p {
    flex-wrap: wrap;
    flex: 0 0 80%;
    padding: var(--padding-default);
    border-left: 10px solid var(--accent-color);
    margin: 10px 0 10px 0;
}

.work {
    display: flex;
    justify-content: start;
}

.work div {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 80%;
    padding: var(--padding-default);
    border-left: 10px solid var(--accent-color);
    margin: 10px 0 10px 0;
}

.card {
    display: flex;
    padding: 100px;
    border: 10px dashed var(--accent-color);
    margin: 10px;
    flex: 1;
    background: url(./trim.66F8082D-1D41-42B6-81FD-09FE078C4CDE.GIF);
}

/* TODO: fix positioning */

.card h3 {
    display: flex;
    padding: var(--padding-default);
    border: 10px solid var(--accent-color);
    background-color: var(--primary-color);
    position: relative;
    top: 50%;
    right: 110px;
}

.card:first-child {
    padding: 200px;
    flex: 1 0 90%;
    background: url(./38F83D27-EE0B-45F3-BB12-55A5157BCB30.GIF);
}

.card:first-child h3 {
    right: 210px;
}

.contact-me {
    display: flex;
    justify-content: space-between;
}

.contact-me ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex: 1 0 80%;
    border-left: 10px solid var(--accent-color);
    padding: var(--padding-default);
    margin: 10px 0 10px 0;
}

.contact-me li {
    padding: 0 10px 0 10px;
}

footer {
    text-align: center;
    background-color: var(--accent-color);
}