/* GIVEN I need to sample a potential employee's previous work

WHEN I load their portfolio
THEN I am presented with the developer's name, a recent photo or avatar, and links to sections about them, their work, and how to contact them

WHEN I click one of the links in the navigation
THEN the UI scrolls to the corresponding section

WHEN I click on the link to the section about their work
THEN the UI scrolls to a section with titled images of the developer's applications

WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others

WHEN I click on the images of the applications
THEN I am taken to that deployed application

WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --primary-color: #b3b3b3;
    --secondary-color: black;
    --accent-color: lavender;
    --padding-default: 20px;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-default);
    background-color: var(--accent-color);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 0 10px 0 10px;
}

.image {
    display: flex;
    background: url(./IMG_1626.JPG);
    padding: 400px 0 100px 0;
    justify-content: end;
}

.imgtext {
    display: flex;
    padding: var(--padding-default);
    border: 10px solid var(--accent-color);
    background-color: var(--primary-color);
    margin-right: var(--padding-default);
}

.sectiontitle {
    display: flex;
    justify-content: end;
    flex: 0 0 20%;
    padding-right: 10px;
    padding-top: var(--padding-default);
}

.about-me {
    display: flex;
    align-items: start;
}

.about-me p {
    flex-wrap: wrap;
    flex: 0 0 80%;
    padding: var(--padding-default);
    border-left: 10px solid var(--accent-color);
    margin: 10px 0 10px 0;
}

.work {
    display: flex;
    justify-content: start;
}

.work div {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 80%;
    padding: var(--padding-default);
    border-left: 10px solid var(--accent-color);
    margin: 10px 0 10px 0;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    flex: 1;
}

.card img {
    width: 100%;
    height: auto;
    border: 10px dashed var(--accent-color);
}

.card h3 {
    border: 10px solid var(--accent-color);
    background-color: var(--primary-color);
    padding: var(--padding-default);
    display: flex;
    max-width: fit-content;
    position: relative;
    top: -200px;
}

.card:first-child {
    flex: 1 0 95%;
    background: url();
}

.contact-me {
    display: flex;
    justify-content: space-between;
}

.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    justify-content: space-between;
    flex: 1 0 80%;
    border-left: 10px solid var(--accent-color);
    padding: var(--padding-default);
    margin: 10px 0 10px 0;
}

.contact-me a {
    display: flex;
    flex: 1 0 25%;
    padding: 0 100px 0 100px;
}

footer {
    text-align: center;
    background-color: var(--accent-color);
}

@media screen and (max-width:992px) {
    .card {
        flex-basis: 45%;
    }
}
@media screen and (max-width:768px) {
    .card {
        flex-basis: 95%;
    }
}